/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color-light);
    /* Default background color for light mode */
    color: var(--text-color-dark);
    /* Default text color for light mode */
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo h1 {
    font-size: 1.8rem;
    color: var(--text-color-dark);
    /* color: black; */
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 10px;
    color: var(--text-color-dark);
    /* Default color for icon in light mode */
}

.theme-toggle:hover {
    transform: scale(1.1);
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);

    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);


    line-height: 1.6;
}